/* @import 'tailwindcss'; */

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
    --font-sans:
        'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
    background-image: url("../img/background.png");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.areaBar {
    background-color: rgba(255, 255, 255);
    margin-bottom: 1rem;
    margin-top: 15px;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 15px;
    outline: 2px solid rgb(0, 0, 0);
}

.locationTitle { 
    padding-left: 1rem;
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
}

#locationName {
    outline: 2px solid black;  
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.areaText {
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: right;
}

.areaTime {
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: right;
}

.locationBar {
    background-color: rgba(255, 255, 255);
    padding: 1rem;
    margin-bottom: 1rem;
    margin-top: 15px;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 15px;
    outline: 2px solid rgb(0, 0, 0);
}

.locationDiv {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.locationImage {
    width: 38%;
    height: auto;
}

.locationStory {
    padding-left: 1rem;
    text-align: left;
    font-size: 16px;
}

.choiceOption {
    padding-left: 1rem;
    color: blue;
    text-decoration: underline;
}

.choiceOption:hover {
    color: darkorchid;
    text-decoration: none
}

.inventoryBar {
    background-color: rgba(255, 255, 255);
    margin-bottom: 1rem;
    margin-top: 15px;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 15px;
    outline: 2px solid rgb(0, 0, 0);
}

.inventoryTitle {
    padding-left: 1rem;
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
}

#inventoryName {
    outline: 2px solid black;  
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.inventoryItem {
    margin-left: 3em;
    margin-right: 3em;
    list-style: circle;
    font-size: 16px;
}

.inventoryList {
    position: relative;
    padding-left:0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.inventoryList li {
    width: 50%;
    flex: 0 0 150px;
} 

/* Mabye the idea to combine Quest and End items? Or make them separte this could hint at their importance */
#storyItem {
    color: #D8661B;
}

#weapons {
    color: #0D8EFF;
}

#potions {
    color: #FFE38E;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.monsterStat {
    padding-left: 1rem;
    font-size: 20px;
}

.monsterInfo {
    padding-left: 1rem;
}

.statsContainer {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}
    
#monsterStats,
#playerStats {
    list-style: none;
    padding-left: 0;
}

.monsterStatTitle {
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
    padding-left: 1rem;
}

.btn {
    margin: 5px;
}

.form-element{
    margin: 15px;
}

.form-label {
    margin-right: 15px;
}